<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
            </p>
            <table>
                <thread>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thread>
                <tbody>
                    {% for items in todo_object.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' items.id %}">{{items.task}}</a>
                        </td>
                        <td>{{items.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
